@import "tailwindcss";

html, body{
    width: 100vw;
    background-color: black;
    color: white
}

@theme{
    --color-white-50: #d9ecff;
    --color-blue-100: #2d2d38;
    --color-etherBlue: #5227FF;
    --color-etherPink: #FF9FFC;
    --color-etherPurple: #B19EEF;
}

@layer utilities{
    .flex-center {
        @apply flex justify-center items-center;
    }
}